<h2> Tableau des infirmiers</h2>
<table>

  <tr>
    <th width="100">Photo</th>
    <th width="100">Nom</th>
    <th width="100">Prénom</th>
    <th width="100">Adresse</th>
    <th width="100">ID</th>
    <th width="100">Patients</th>
  </tr>

  <tr *ngFor="let inf of infirmiers">
    <app-infirmier [data]="inf"></app-infirmier>
  </tr>

</table>

<h2> Tableau des patients non affectés</h2>
<table>

  <tr>
    <th width="100">Nom</th>
    <th width="100">Prénom</th>
    <th width="100">Sexe</th>
    <th width="100">Adresse</th>
    <th width="100">N° sécurité sociale</th>
  </tr>

  <tr *ngFor="let patient of patientsNonAffectes">
    <td width="100"> <app-patient [data]="patient"></app-patient>
         <select #inf>
              <option *ngFor="let infirmier of infirmiers" [value]="infirmier.id"> {{infirmier.nom}} </option>
         </select>
         <input type="submit"
                 name="Affecter"
            (click)="affecterPatient(inf.value,patient)"/>
    </td>
  </tr>
</table>




<h3>AJOUTER UN PATIENT</h3>

  <label>Prénom : </label>
  <input type="text"
         name="Prénom"
         placeholder="Entrer le prénom du patient"
        #prenom/>
  <br/>

  <label>Nom : </label>
  <input type="text"
         name="Nom"
         placeholder="Entrer le nom du patient"
        #nom/>
  <br/>
  <label>Sexe : </label>
  <select
  #sexe>
    <option value="M">Homme</option>
    <option value="F">Femme</option>
  </select>
  <br/>
  <label>Adresse : </label>
  <input type="text"
         name="Etage"
         placeholder="Entrer l'étage"
        #etage/>
  <input type="text"
         name="Numéro"
         placeholder="Entrer le numéro"
        #numero/>
  <input type="text"
         name="Rue"
         placeholder="Entrer la rue"
        #rue/>
  <input type="text"
         name="Ville"
         placeholder="Entrer la ville"
        #ville/>
  <input type="text"
         name="Code Postal"
         placeholder="Entrer le code postal"
        #codePostal/>
  <br/>
  <label>Numéro de sécurité sociale : </label>
  <input type="text"
         name="Sécurité Sociale"
         placeholder="Entrer le numéro de sécurité sociale"
        #securiteSociale/>
  <br/>
  <button (click)="creerPatient(prenom.value, nom.value, sexe.value, etage.value, numero.value, rue.value, ville.value, codePostal.value, securiteSociale.value)">AJOUTER</button>
  <br/>

